.bodyy {
    margin: 0;
    height: 740px;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../../images/quiz.jpg");
    background-position: center;
    background-size: cover;
  }
  
.comp
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.glassbg
{
  background: rgba(2, 2, 2, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(244, 242, 242, 0.1);
}